# Dataset

#### Overview:
> **From the CORGIS Dataset Project**: "The following data contains records collected on different countries and geographic locations from 1980 - 2013 from the World Bank and Our World in Data. Included is different data about urban development, agriculture and rural development, health, and infrastructure."


The links our datasets are sourced from:
https://corgis-edu.github.io/corgis/csv/global_development/

https://corgis-edu.github.io/corgis/csv/global_emissions/

In [2]:
#import pandas
import pandas as pd
import numpy as np

In [3]:
# Import the MoMA paintings dataset (CSV file)
# The file location

# Read in the file and print out the DataFrame
development_df = pd.read_csv('https://raw.githubusercontent.com/zpenguin19/Intro-to-Data-Science/refs/heads/main/Data%20Science%20Project/Datasets/global_development.csv')
development_df
# Read in the file and print out the DataFrame
emissions_df = pd.read_csv('https://raw.githubusercontent.com/zpenguin19/Intro-to-Data-Science/refs/heads/main/Data%20Science%20Project/Datasets/global_emissions.csv')
emissions_df

,Year,Country.Name,Country.Code,Country.GDP,Country.Population,Emissions.Production.CH4,Emissions.Production.N2O,Emissions.Production.CO2.Cement,Emissions.Production.CO2.Coal,Emissions.Production.CO2.Gas,Emissions.Production.CO2.Oil,Emissions.Production.CO2.Flaring,Emissions.Production.CO2.Other,Emissions.Production.CO2.Total,Emissions.Global Share.CO2.Cement,Emissions.Global Share.CO2.Coal,Emissions.Global Share.CO2.Gas,Emissions.Global Share.CO2.Oil,Emissions.Global Share.CO2.Flaring,Emissions.Global Share.CO2.Total
0,1992,Afghanistan,AFG,1.267754e+10,14485543,7.13,2.89,0.046,0.022,0.363,0.927,0.022,0.000000e+00,1.379,0.01,0.00,0.01,0.01,0.01,0.01
1,1993,Afghanistan,AFG,9.834581e+09,15816601,7.21,2.93,0.047,0.018,0.352,0.894,0.022,0.000000e+00,1.333,0.01,0.00,0.01,0.01,0.01,0.01
2,1994,Afghanistan,AFG,7.919857e+09,17075728,7.47,2.76,0.047,0.015,0.338,0.860,0.022,2.220000e-16,1.282,0.01,0.00,0.01,0.01,0.01,0.01
3,1995,Afghanistan,AFG,1.230753e+10,18110662,7.83,2.88,0.047,0.015,0.322,0.824,0.022,2.220000e-16,1.230,0.01,0.00,0.01,0.01,0.01,0.01
4,1996,Afghanistan,AFG,1.207013e+10,18853444,8.67,3.12,0.047,0.007,0.308,0.780,0.022,1.000000e-03,1.165,0.01,0.00,0.01,0.01,0.01,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,2014,Vietnam,VNM,5.098020e+11,91713848,84.93,23.48,32.694,70.517,19.599,46.196,0.000,0.000000e+00,169.006,2.19,0.47,0.29,0.40,0.00,0.48
2480,2015,Vietnam,VNM,5.439310e+11,92677080,83.85,25.91,34.298,83.191,20.463,55.052,0.000,0.000000e+00,193.004,2.39,0.57,0.30,0.46,0.00,0.54
2481,2016,Vietnam,VNM,5.776830e+11,93640440,81.85,24.82,36.822,81.561,20.368,54.015,0.000,0.000000e+00,192.766,2.49,0.57,0.29,0.45,0.00,0.54
2482,2017,Vietnam,VNM,6.177750e+11,94600640,81.28,24.89,42.735,77.680,17.877,56.957,0.000,0.000000e+00,195.249,2.85,0.54,0.25,0.47,0.00,0.54
2483,2018,Vietnam,VNM,6.614880e+11,95545960,81.42,25.44,49.637,94.927,18.554,60.599,0.000,1.000000e-03,223.718,3.17,0.64,0.25,0.50,0.00,0.61

# 1.Data Cleaning

### 1.X Dirty the Dataset!!!

Development data first:

In [4]:
# file1["column"] = np.where(np.random.rand(len(file1)) < 0.01, np.nan, file1["column"])
development_df['Data.Health.Life Expectancy at Birth, Male'] = np.where(np.random.rand(len(development_df)) < 0.1, np.nan, development_df['Data.Health.Life Expectancy at Birth, Male'])
development_df['Data.Urban Development.Population Density'] = np.where(np.random.rand(len(development_df)) < 0.1, np.nan, development_df['Data.Urban Development.Population Density'])
development_df['Data.Rural Development.Land Area'] = np.where(np.random.rand(len(development_df)) < 0.1, np.nan, development_df['Data.Rural Development.Land Area'])

development_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6426 entries, 0 to 6425
Data columns (total 25 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           6426 non-null   object
 1   Year                                                              6426 non-null   int64
 2   Data.Health.Birth Rate                                            6426 non-null   float64
 3   Data.Health.Death Rate                                            6426 non-null   float64
 4   Data.Health.Fertility Rate                                        6426 non-null   float64
 5   Data.Health.Life Expectancy at Birth, Female                      6426 non-null   float64
 6   Data.Health.Life Expectancy at Birth, Male                        5787 non-null   float64
 7   Data.Health.Life Expectancy at Birth, Total                       6426 non-null   float64
 8   Data.Health.Population Growth                                     6426 non-null   float64
 9   Data.Health.Total Population                                      6426 non-null   float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 6426 non-null   float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  6426 non-null   float64
 12  Data.Infrastructure.Telephone Lines                               6426 non-null   float64
 13  Data.Infrastructure.Telephone Lines per 100 People                6426 non-null   float64
 14  Data.Rural Development.Agricultural Land                          6426 non-null   float64
 15  Data.Rural Development.Agricultural Land Percent                  6426 non-null   float64
 16  Data.Rural Development.Arable Land                                6426 non-null   float64
 17  Data.Rural Development.Arable Land Percent                        6426 non-null   float64
 18  Data.Rural Development.Land Area                                  5788 non-null   float64
 19  Data.Rural Development.Rural Population                           6426 non-null   int64
 20  Data.Rural Development.Rural Population Growth                    6426 non-null   float64
 21  Data.Rural Development.Surface Area                               6426 non-null   float64
 22  Data.Urban Development.Population Density                         5794 non-null   float64
 23  Data.Urban Development.Urban Population Percent                   6426 non-null   float64
 24  Data.Urban Development.Urban Population Percent Growth            6426 non-null   float64
dtypes: float64(22), int64(2), object(1)
memory usage: 1.2+ MB

Now onto the Emissions dataset

In [5]:
emissions_df['Emissions.Production.CO2.Oil'] = np.where(np.random.rand(len(emissions_df)) < 0.1, np.nan, emissions_df['Emissions.Production.CO2.Oil'])
emissions_df["Emissions.Production.CO2.Total"] = np.where(np.random.rand(len(emissions_df)) < 0.1, np.nan, emissions_df['Emissions.Production.CO2.Total'])

emissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2484 non-null   int64
 1   Country.Name                        2484 non-null   object
 2   Country.Code                        2484 non-null   object
 3   Country.GDP                         2484 non-null   float64
 4   Country.Population                  2484 non-null   int64
 5   Emissions.Production.CH4            2484 non-null   float64
 6   Emissions.Production.N2O            2484 non-null   float64
 7   Emissions.Production.CO2.Cement     2484 non-null   float64
 8   Emissions.Production.CO2.Coal       2484 non-null   float64
 9   Emissions.Production.CO2.Gas        2484 non-null   float64
 10  Emissions.Production.CO2.Oil        2239 non-null   float64
 11  Emissions.Production.CO2.Flaring    2484 non-null   float64
 12  Emissions.Production.CO2.Other      2484 non-null   float64
 13  Emissions.Production.CO2.Total      2244 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2484 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2484 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2484 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2484 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2484 non-null   float64
 19  Emissions.Global Share.CO2.Total    2484 non-null   float64
dtypes: float64(16), int64(2), object(2)
memory usage: 388.3+ KB

## 1.1 Get to know data

> #### Data description:
- `Country` - the name of the country that the data is taken from
- `Year` - the year the data of a country is taken from
- `Data.Health.Birth Rate` - the birth rate for the particular country and year
- `Data.Health.Death Rate` - the death rate for the particular country and year
- `Data.Health.Fertility Rate` - the fertility rate for the particular country and year
- `Data.Health.Life Expectancy at Birth, Female` - the life expectancy of a female born in the particular country and year
- `Data.Health.Life Expectancy at Birth, Male` - the life expectancy of a male born in the particular country and year
- `Data.Health.Life Expectancy at Birth, Total`	- the life expectancy for someone born in the particular country and year
- `Data.Health.Population Growth` - the population growth of the country in that year
- `Data.Health.Total Population` - the total population of the particular country in the specified year
- `Data.Infrastructure.Mobile Cellular Subscriptions` - the total number of cell phone subscriptions in the particular country and year
- `Data.Infrastructure.Mobile Cellular Subscriptions per 100 People` - the number of cell phone subscriptions per 100 people in the particular country and year
- `Data.Infrastructure.Telephone Lines` - the total number of telephone lines in the particular country and year
- `Data.Infrastructure.Telephone Lines per 100 People` - the number of telephone lines per 100 people in the particular country and year
- `Data.Rural Development.Agricultural Land` - total area of agricultural land in the particular country and year
- `Data.Rural Development.Agricultural Land Percent` - percent of the country's land that is used for agriculture in the given year
- `Data.Rural Development.Arable Land` - total area of arable land in the particular country and year
- `Data.Rural Development.Arable Land Percent` - percent of the country's land that is arable in the given year
- `Data.Rural Development.Land Area` - total area of rural land in the particular country and year
- `Data.Rural Development.Rural Population` - number of people living in rural areas in the particular country and year
- `Data.Rural Development.Rural Population Growth` - the population growth of rural areas in the particular country in that year
- `Data.Rural Development.Surface Area` - surface area of rural areas in the particular country and year
- `Data.Urban Development.Population Density` - density of people living in urban areas in the particular country and year
- `Data.Urban Development.Urban Population Percent` - percent of the population that lives in urban areas in the given country and year
- `Data.Urban Development.Urban Population Percent Growth` - the population growth of urban areas in the particular country in that year

In [6]:
# find shape of the data

print(f"Shape of global development: {development_df.shape}")

Shape of global development: (6426, 25)

In [7]:
# print columns labels

print(f"Columns of global development:\n {development_df.columns}")

print(f"Columns of global emissions:\n {emissions_df.columns}")

Columns of global development:
 Index(['Country', 'Year', 'Data.Health.Birth Rate', 'Data.Health.Death Rate',
       'Data.Health.Fertility Rate',
       'Data.Health.Life Expectancy at Birth, Female',
       'Data.Health.Life Expectancy at Birth, Male',
       'Data.Health.Life Expectancy at Birth, Total',
       'Data.Health.Population Growth', 'Data.Health.Total Population',
       'Data.Infrastructure.Mobile Cellular Subscriptions',
       'Data.Infrastructure.Mobile Cellular Subscriptions per 100 People',
       'Data.Infrastructure.Telephone Lines',
       'Data.Infrastructure.Telephone Lines per 100 People',
       'Data.Rural Development.Agricultural Land',
       'Data.Rural Development.Agricultural Land Percent',
       'Data.Rural Development.Arable Land',
       'Data.Rural Development.Arable Land Percent',
       'Data.Rural Development.Land Area',
       'Data.Rural Development.Rural Population',
       'Data.Rural Development.Rural Population Growth',
       'Data.Rural Development.Surface Area',
       'Data.Urban Development.Population Density',
       'Data.Urban Development.Urban Population Percent',
       'Data.Urban Development.Urban Population Percent Growth'],
      dtype='object')
Columns of global emissions:
 Index(['Year', 'Country.Name', 'Country.Code', 'Country.GDP',
       'Country.Population', 'Emissions.Production.CH4',
       'Emissions.Production.N2O', 'Emissions.Production.CO2.Cement',
       'Emissions.Production.CO2.Coal', 'Emissions.Production.CO2.Gas',
       'Emissions.Production.CO2.Oil', 'Emissions.Production.CO2.Flaring',
       'Emissions.Production.CO2.Other', 'Emissions.Production.CO2.Total',
       'Emissions.Global Share.CO2.Cement', 'Emissions.Global Share.CO2.Coal',
       'Emissions.Global Share.CO2.Gas', 'Emissions.Global Share.CO2.Oil',
       'Emissions.Global Share.CO2.Flaring',
       'Emissions.Global Share.CO2.Total'],
      dtype='object')

In [8]:
# check row labels
print(f"Row labels of global development: {development_df.index}")
print(f"Row labels of global emission: {emissions_df.index}")

Row labels of global development: RangeIndex(start=0, stop=6426, step=1)
Row labels of global emission: RangeIndex(start=0, stop=2484, step=1)

In [9]:
# find the column that is unique to each row (unit of observation)
# HINT: these will have number of unique values equal to the number of rows in the dataframe
# could be names or IDs
print("Development:")
print(len(development_df["Country"].unique()))
print(len(development_df["Year"].unique()))

print("Emissions:")
print(len(emissions_df["Country.Name"].unique()))
len(development_df["Year"].unique())

Development:
189
54
Emissions:
92

54

In [10]:
# check type of varaibles
print("Development:")
development_df.dtypes


print("Emission:")
emissions_df.dtypes

Development:
Emission:

Year                                    int64
Country.Name                           object
Country.Code                           object
Country.GDP                           float64
Country.Population                      int64
Emissions.Production.CH4              float64
Emissions.Production.N2O              float64
Emissions.Production.CO2.Cement       float64
Emissions.Production.CO2.Coal         float64
Emissions.Production.CO2.Gas          float64
Emissions.Production.CO2.Oil          float64
Emissions.Production.CO2.Flaring      float64
Emissions.Production.CO2.Other        float64
Emissions.Production.CO2.Total        float64
Emissions.Global Share.CO2.Cement     float64
Emissions.Global Share.CO2.Coal       float64
Emissions.Global Share.CO2.Gas        float64
Emissions.Global Share.CO2.Oil        float64
Emissions.Global Share.CO2.Flaring    float64
Emissions.Global Share.CO2.Total      float64
dtype: object

In [11]:
# display the head
print(development_df.head())
emissions_df.head()

  Country  Year  Data.Health.Birth Rate  Data.Health.Death Rate  \
0  Canada  1980                    15.4                     7.0
1  Canada  1981                    15.4                     7.1
2  Canada  1982                    15.3                     7.0
3  Canada  1983                    15.1                     7.1
4  Canada  1984                    15.0                     7.0

   Data.Health.Fertility Rate  Data.Health.Life Expectancy at Birth, Female  \
0                       1.754                                         78.59
1                       1.740                                         78.73
2                       1.700                                         79.11
3                       1.690                                         79.23
4                       1.680                                         79.55

   Data.Health.Life Expectancy at Birth, Male  \
0                                       71.32
1                                       71.60
2                                       72.02
3                                       72.30
4                                       72.69

   Data.Health.Life Expectancy at Birth, Total  Data.Health.Population Growth  \
0                                    74.866341                       0.997669
1                                    75.078049                       1.293245
2                                    75.478537                       1.240595
3                                    75.680488                       1.205555
4                                    76.036341                       1.002812

   Data.Health.Total Population  ...  \
0                    24277000.0  ...
1                    24593000.0  ...
2                    24900000.0  ...
3                    25202000.0  ...
4                    25456000.0  ...

   Data.Rural Development.Agricultural Land Percent  \
0                                          7.357225
1                                          7.301471
2                                          7.245717
3                                          7.288275
4                                          7.330943

   Data.Rural Development.Arable Land  \
0                            1.827821
1                            1.818526
2                            1.810120
3                            1.789779
4                            1.773217

   Data.Rural Development.Arable Land Percent  \
0                                    4.879744
1                                    4.918123
2                                    4.956502
3                                    4.960241
4                                    4.963870

   Data.Rural Development.Land Area  Data.Rural Development.Rural Population  \
0                         9093510.0                                  5918004
1                         9093510.0                                  5985198
2                         9093510.0                                  6047712
3                         9093510.0                                  6080235
4                               NaN                                  6100530

   Data.Rural Development.Rural Population Growth  \
0                                        0.833712
1                                        1.129019
2                                        1.039060
3                                        0.536333
4                                        0.333231

   Data.Rural Development.Surface Area  \
0                            9984670.0
1                            9984670.0
2                            9984670.0
3                            9984670.0
4                            9984670.0

   Data.Urban Development.Population Density  \
0                                   2.669706
1                                   2.704456
2                                   2.738217
3                                   2.771427
4                                   2.799359

   Data.Urban Development.Urban Population Percent  \
0                                           75.623
1                                           75.663
2                                           75.712
3                                           75.874
4                                           76.035

   Data.Urban Development.Urban Population Percent Growth
0                                           1.050578
1                                           1.346126
2                                           1.305333
3                                           1.419293
4                                           1.214785

[5 rows x 25 columns]

,Year,Country.Name,Country.Code,Country.GDP,Country.Population,Emissions.Production.CH4,Emissions.Production.N2O,Emissions.Production.CO2.Cement,Emissions.Production.CO2.Coal,Emissions.Production.CO2.Gas,Emissions.Production.CO2.Oil,Emissions.Production.CO2.Flaring,Emissions.Production.CO2.Other,Emissions.Production.CO2.Total,Emissions.Global Share.CO2.Cement,Emissions.Global Share.CO2.Coal,Emissions.Global Share.CO2.Gas,Emissions.Global Share.CO2.Oil,Emissions.Global Share.CO2.Flaring,Emissions.Global Share.CO2.Total
0,1992,Afghanistan,AFG,1.267754e+10,14485543,7.13,2.89,0.046,0.022,0.363,0.927,0.022,0.000000e+00,1.379,0.01,0.0,0.01,0.01,0.01,0.01
1,1993,Afghanistan,AFG,9.834581e+09,15816601,7.21,2.93,0.047,0.018,0.352,0.894,0.022,0.000000e+00,NaN,0.01,0.0,0.01,0.01,0.01,0.01
2,1994,Afghanistan,AFG,7.919857e+09,17075728,7.47,2.76,0.047,0.015,0.338,0.860,0.022,2.220000e-16,NaN,0.01,0.0,0.01,0.01,0.01,0.01
3,1995,Afghanistan,AFG,1.230753e+10,18110662,7.83,2.88,0.047,0.015,0.322,0.824,0.022,2.220000e-16,1.230,0.01,0.0,0.01,0.01,0.01,0.01
4,1996,Afghanistan,AFG,1.207013e+10,18853444,8.67,3.12,0.047,0.007,0.308,0.780,0.022,1.000000e-03,1.165,0.01,0.0,0.01,0.01,0.01,0.00

## 1.2 Identify which numerical columns and categorical columns

In [12]:
# create a list of the columns that are categorical and those that are integer and those that have string values

import numpy as np
numerical = []
categorical = []
string = []

for column in development_df.columns:
  if development_df[column].nunique() < 10:
    categorical.append(column)
  elif development_df[column].dtype == np.float64 or development_df[column].dtype == np.int64:
   numerical.append(column)
  else:
    string.append(column)

print("Numerical columns: ", numerical)
print("Categorical columns: ", categorical)
print("String columns: ", string)

numerical = []
categorical = []
string = []

for column in emissions_df.columns:
  if emissions_df[column].nunique() < 10:
    categorical.append(column)
  elif emissions_df[column].dtype == np.float64 or emissions_df[column].dtype == np.int64:
   numerical.append(column)
  else:
    string.append(column)

print("Numerical columns: ", numerical)
print("Categorical columns: ", categorical)
print("String columns: ", string)

Numerical columns:  ['Year', 'Data.Health.Birth Rate', 'Data.Health.Death Rate', 'Data.Health.Fertility Rate', 'Data.Health.Life Expectancy at Birth, Female', 'Data.Health.Life Expectancy at Birth, Male', 'Data.Health.Life Expectancy at Birth, Total', 'Data.Health.Population Growth', 'Data.Health.Total Population', 'Data.Infrastructure.Mobile Cellular Subscriptions', 'Data.Infrastructure.Mobile Cellular Subscriptions per 100 People', 'Data.Infrastructure.Telephone Lines', 'Data.Infrastructure.Telephone Lines per 100 People', 'Data.Rural Development.Agricultural Land', 'Data.Rural Development.Agricultural Land Percent', 'Data.Rural Development.Arable Land', 'Data.Rural Development.Arable Land Percent', 'Data.Rural Development.Land Area', 'Data.Rural Development.Rural Population', 'Data.Rural Development.Rural Population Growth', 'Data.Rural Development.Surface Area', 'Data.Urban Development.Population Density', 'Data.Urban Development.Urban Population Percent', 'Data.Urban Development.Urban Population Percent Growth']
Categorical columns:  []
String columns:  ['Country']
Numerical columns:  ['Year', 'Country.GDP', 'Country.Population', 'Emissions.Production.CH4', 'Emissions.Production.N2O', 'Emissions.Production.CO2.Cement', 'Emissions.Production.CO2.Coal', 'Emissions.Production.CO2.Gas', 'Emissions.Production.CO2.Oil', 'Emissions.Production.CO2.Flaring', 'Emissions.Production.CO2.Other', 'Emissions.Production.CO2.Total', 'Emissions.Global Share.CO2.Cement', 'Emissions.Global Share.CO2.Coal', 'Emissions.Global Share.CO2.Gas', 'Emissions.Global Share.CO2.Oil', 'Emissions.Global Share.CO2.Flaring', 'Emissions.Global Share.CO2.Total']
Categorical columns:  []
String columns:  ['Country.Name', 'Country.Code']

### 1.2.1 Categorical columns coding

Sometimes you need some categorical columns to be numbers, or encoded as numbers.

In [13]:
# convert all the columns in the categorical list to be of the type category

development_df["Country"] = development_df["Country"].astype('category')

development_df.info()

emissions_df["Country.Name"] = emissions_df["Country.Name"].astype('category')
emissions_df["Country.Code"] = emissions_df["Country.Code"].astype('category')

emissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6426 entries, 0 to 6425
Data columns (total 25 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           6426 non-null   category
 1   Year                                                              6426 non-null   int64
 2   Data.Health.Birth Rate                                            6426 non-null   float64
 3   Data.Health.Death Rate                                            6426 non-null   float64
 4   Data.Health.Fertility Rate                                        6426 non-null   float64
 5   Data.Health.Life Expectancy at Birth, Female                      6426 non-null   float64
 6   Data.Health.Life Expectancy at Birth, Male                        5787 non-null   float64
 7   Data.Health.Life Expectancy at Birth, Total                       6426 non-null   float64
 8   Data.Health.Population Growth                                     6426 non-null   float64
 9   Data.Health.Total Population                                      6426 non-null   float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 6426 non-null   float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  6426 non-null   float64
 12  Data.Infrastructure.Telephone Lines                               6426 non-null   float64
 13  Data.Infrastructure.Telephone Lines per 100 People                6426 non-null   float64
 14  Data.Rural Development.Agricultural Land                          6426 non-null   float64
 15  Data.Rural Development.Agricultural Land Percent                  6426 non-null   float64
 16  Data.Rural Development.Arable Land                                6426 non-null   float64
 17  Data.Rural Development.Arable Land Percent                        6426 non-null   float64
 18  Data.Rural Development.Land Area                                  5788 non-null   float64
 19  Data.Rural Development.Rural Population                           6426 non-null   int64
 20  Data.Rural Development.Rural Population Growth                    6426 non-null   float64
 21  Data.Rural Development.Surface Area                               6426 non-null   float64
 22  Data.Urban Development.Population Density                         5794 non-null   float64
 23  Data.Urban Development.Urban Population Percent                   6426 non-null   float64
 24  Data.Urban Development.Urban Population Percent Growth            6426 non-null   float64
dtypes: category(1), float64(22), int64(2)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2484 non-null   int64
 1   Country.Name                        2484 non-null   category
 2   Country.Code                        2484 non-null   category
 3   Country.GDP                         2484 non-null   float64
 4   Country.Population                  2484 non-null   int64
 5   Emissions.Production.CH4            2484 non-null   float64
 6   Emissions.Production.N2O            2484 non-null   float64
 7   Emissions.Production.CO2.Cement     2484 non-null   float64
 8   Emissions.Production.CO2.Coal       2484 non-null   float64
 9   Emissions.Production.CO2.Gas        2484 non-null   float64
 10  Emissions.Production.CO2.Oil        2239 non-null   float64
 11  Emissions.Production.CO2.Flaring    2484 non-null   float64
 12  Emissions.Production.CO2.Other      2484 non-null   float64
 13  Emissions.Production.CO2.Total      2244 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2484 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2484 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2484 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2484 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2484 non-null   float64
 19  Emissions.Global Share.CO2.Total    2484 non-null   float64
dtypes: category(2), float64(16), int64(2)
memory usage: 359.8 KB

Most of the commands shown until this point, you would have used in your homework assignment 4.

### 1.2.3 Working with date and time columns

In [14]:
development_df["Year"].head(20)

0     1980
1     1981
2     1982
3     1983
4     1984
5     1985
6     1986
7     1987
8     1988
9     1989
10    1990
11    1991
12    1992
13    1993
14    1994
15    1995
16    1996
17    1997
18    1998
19    1999
Name: Year, dtype: int64

In [15]:
# sanity check
development_df.info()
emissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6426 entries, 0 to 6425
Data columns (total 25 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           6426 non-null   category
 1   Year                                                              6426 non-null   int64
 2   Data.Health.Birth Rate                                            6426 non-null   float64
 3   Data.Health.Death Rate                                            6426 non-null   float64
 4   Data.Health.Fertility Rate                                        6426 non-null   float64
 5   Data.Health.Life Expectancy at Birth, Female                      6426 non-null   float64
 6   Data.Health.Life Expectancy at Birth, Male                        5787 non-null   float64
 7   Data.Health.Life Expectancy at Birth, Total                       6426 non-null   float64
 8   Data.Health.Population Growth                                     6426 non-null   float64
 9   Data.Health.Total Population                                      6426 non-null   float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 6426 non-null   float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  6426 non-null   float64
 12  Data.Infrastructure.Telephone Lines                               6426 non-null   float64
 13  Data.Infrastructure.Telephone Lines per 100 People                6426 non-null   float64
 14  Data.Rural Development.Agricultural Land                          6426 non-null   float64
 15  Data.Rural Development.Agricultural Land Percent                  6426 non-null   float64
 16  Data.Rural Development.Arable Land                                6426 non-null   float64
 17  Data.Rural Development.Arable Land Percent                        6426 non-null   float64
 18  Data.Rural Development.Land Area                                  5788 non-null   float64
 19  Data.Rural Development.Rural Population                           6426 non-null   int64
 20  Data.Rural Development.Rural Population Growth                    6426 non-null   float64
 21  Data.Rural Development.Surface Area                               6426 non-null   float64
 22  Data.Urban Development.Population Density                         5794 non-null   float64
 23  Data.Urban Development.Urban Population Percent                   6426 non-null   float64
 24  Data.Urban Development.Urban Population Percent Growth            6426 non-null   float64
dtypes: category(1), float64(22), int64(2)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2484 non-null   int64
 1   Country.Name                        2484 non-null   category
 2   Country.Code                        2484 non-null   category
 3   Country.GDP                         2484 non-null   float64
 4   Country.Population                  2484 non-null   int64
 5   Emissions.Production.CH4            2484 non-null   float64
 6   Emissions.Production.N2O            2484 non-null   float64
 7   Emissions.Production.CO2.Cement     2484 non-null   float64
 8   Emissions.Production.CO2.Coal       2484 non-null   float64
 9   Emissions.Production.CO2.Gas        2484 non-null   float64
 10  Emissions.Production.CO2.Oil        2239 non-null   float64
 11  Emissions.Production.CO2.Flaring    2484 non-null   float64
 12  Emissions.Production.CO2.Other      2484 non-null   float64
 13  Emissions.Production.CO2.Total      2244 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2484 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2484 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2484 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2484 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2484 non-null   float64
 19  Emissions.Global Share.CO2.Total    2484 non-null   float64
dtypes: category(2), float64(16), int64(2)
memory usage: 359.8 KB

The number of rows of not null values in DateYear and Date are not equal.

Check each row for values- always good idea to check the column that gas more null values

### 1.3.1. Check for duplicate rows, remove them if needed

In [16]:
# check for duplicate rows using the duplicated().sum() functions - returns number of duplicate rows
print(development_df.duplicated().sum())
emissions_df.duplicated().sum()

0

0

if there was we would drop them with `drop_duplicates()` function called on the entire dataframe .

If more than 30% of the values are null, the column might not be very useful. But if these are rare cases and you are building different model for each case then might make sense to preserve them.

## 1.4. Handling missing data

In [18]:
# check which columns have missing data with info()

development_df.info()
emissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6426 entries, 0 to 6425
Data columns (total 25 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           6426 non-null   category
 1   Year                                                              6426 non-null   int64
 2   Data.Health.Birth Rate                                            6426 non-null   float64
 3   Data.Health.Death Rate                                            6426 non-null   float64
 4   Data.Health.Fertility Rate                                        6426 non-null   float64
 5   Data.Health.Life Expectancy at Birth, Female                      6426 non-null   float64
 6   Data.Health.Life Expectancy at Birth, Male                        5787 non-null   float64
 7   Data.Health.Life Expectancy at Birth, Total                       6426 non-null   float64
 8   Data.Health.Population Growth                                     6426 non-null   float64
 9   Data.Health.Total Population                                      6426 non-null   float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 6426 non-null   float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  6426 non-null   float64
 12  Data.Infrastructure.Telephone Lines                               6426 non-null   float64
 13  Data.Infrastructure.Telephone Lines per 100 People                6426 non-null   float64
 14  Data.Rural Development.Agricultural Land                          6426 non-null   float64
 15  Data.Rural Development.Agricultural Land Percent                  6426 non-null   float64
 16  Data.Rural Development.Arable Land                                6426 non-null   float64
 17  Data.Rural Development.Arable Land Percent                        6426 non-null   float64
 18  Data.Rural Development.Land Area                                  5788 non-null   float64
 19  Data.Rural Development.Rural Population                           6426 non-null   int64
 20  Data.Rural Development.Rural Population Growth                    6426 non-null   float64
 21  Data.Rural Development.Surface Area                               6426 non-null   float64
 22  Data.Urban Development.Population Density                         5794 non-null   float64
 23  Data.Urban Development.Urban Population Percent                   6426 non-null   float64
 24  Data.Urban Development.Urban Population Percent Growth            6426 non-null   float64
dtypes: category(1), float64(22), int64(2)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2484 non-null   int64
 1   Country.Name                        2484 non-null   category
 2   Country.Code                        2484 non-null   category
 3   Country.GDP                         2484 non-null   float64
 4   Country.Population                  2484 non-null   int64
 5   Emissions.Production.CH4            2484 non-null   float64
 6   Emissions.Production.N2O            2484 non-null   float64
 7   Emissions.Production.CO2.Cement     2484 non-null   float64
 8   Emissions.Production.CO2.Coal       2484 non-null   float64
 9   Emissions.Production.CO2.Gas        2484 non-null   float64
 10  Emissions.Production.CO2.Oil        2239 non-null   float64
 11  Emissions.Production.CO2.Flaring    2484 non-null   float64
 12  Emissions.Production.CO2.Other      2484 non-null   float64
 13  Emissions.Production.CO2.Total      2244 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2484 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2484 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2484 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2484 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2484 non-null   float64
 19  Emissions.Global Share.CO2.Total    2484 non-null   float64
dtypes: category(2), float64(16), int64(2)
memory usage: 359.8 KB

### 1.4.1. Consistency of missing values

The values in the columns can also differ in how they are represented, this includes NaN values.

In [19]:
# Find rows with NaN in 'col1' and but supposedly has in 'col2'
filtered_development = development_df[['Data.Health.Life Expectancy at Birth, Male', "Data.Urban Development.Population Density", "Data.Rural Development.Land Area"]][development_df['Data.Health.Life Expectancy at Birth, Male'].isnull()]
filtered_development = filtered_development[['Data.Health.Life Expectancy at Birth, Male', "Data.Urban Development.Population Density", "Data.Rural Development.Land Area"]][development_df["Data.Urban Development.Population Density"].isnull()]
filtered_development= filtered_development[['Data.Health.Life Expectancy at Birth, Male', "Data.Urban Development.Population Density", "Data.Rural Development.Land Area"]][development_df["Data.Rural Development.Land Area"].isnull()]

filtered_emissions = emissions_df[["Emissions.Production.CO2.Oil", "Emissions.Production.CO2.Total"]][emissions_df["Emissions.Production.CO2.Oil"].isnull()]
filtered_emissions = filtered_emissions[["Emissions.Production.CO2.Oil", "Emissions.Production.CO2.Total"]][emissions_df["Emissions.Production.CO2.Total"].isnull()]




filtered_development
filtered_emissions

<ipython-input-19-429476f765b1>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_development = filtered_development[['Data.Health.Life Expectancy at Birth, Male', "Data.Urban Development.Population Density", "Data.Rural Development.Land Area"]][development_df["Data.Urban Development.Population Density"].isnull()]
<ipython-input-19-429476f765b1>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_development= filtered_development[['Data.Health.Life Expectancy at Birth, Male', "Data.Urban Development.Population Density", "Data.Rural Development.Land Area"]][development_df["Data.Rural Development.Land Area"].isnull()]
<ipython-input-19-429476f765b1>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_emissions = filtered_emissions[["Emissions.Production.CO2.Oil", "Emissions.Production.CO2.Total"]][emissions_df["Emissions.Production.CO2.Total"].isnull()]

      Emissions.Production.CO2.Oil  Emissions.Production.CO2.Total
5                              NaN                             NaN
147                            NaN                             NaN
157                            NaN                             NaN
310                            NaN                             NaN
531                            NaN                             NaN
735                            NaN                             NaN
755                            NaN                             NaN
902                            NaN                             NaN
1037                           NaN                             NaN
1105                           NaN                             NaN
1247                           NaN                             NaN
1285                           NaN                             NaN
1324                           NaN                             NaN
1356                           NaN                             NaN
1380                           NaN                             NaN
1423                           NaN                             NaN
1458                           NaN                             NaN
1479                           NaN                             NaN
1538                           NaN                             NaN
1579                           NaN                             NaN
1606                           NaN                             NaN
1617                           NaN                             NaN
1928                           NaN                             NaN
2298                           NaN                             NaN
2338                           NaN                             NaN

In [35]:
filtered_development.info()
filtered_emissions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 2415 to 6291
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Data.Health.Life Expectancy at Birth, Male  0 non-null      float64
 1   Data.Urban Development.Population Density   0 non-null      float64
 2   Data.Rural Development.Land Area            0 non-null      float64
dtypes: float64(3)
memory usage: 192.0 bytes
<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 5 to 2338
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Emissions.Production.CO2.Oil    0 non-null      float64
 1   Emissions.Production.CO2.Total  0 non-null      float64
dtypes: float64(2)
memory usage: 600.0 bytes

### 1.4.2. Removing rows with missing data

In [22]:
# Identify rows with all NaN values
all_nan_rows = development_df[development_df.isnull().all(axis=1)]
all_nan_rows

all_nan_rows = emissions_df[emissions_df.isnull().all(axis=1)]
all_nan_rows
# if found remove them
# you can also search for nan values and drop the rows which contain them.

Empty DataFrame
Columns: [Year, Country.Name, Country.Code, Country.GDP, Country.Population, Emissions.Production.CH4, Emissions.Production.N2O, Emissions.Production.CO2.Cement, Emissions.Production.CO2.Coal, Emissions.Production.CO2.Gas, Emissions.Production.CO2.Oil, Emissions.Production.CO2.Flaring, Emissions.Production.CO2.Other, Emissions.Production.CO2.Total, Emissions.Global Share.CO2.Cement, Emissions.Global Share.CO2.Coal, Emissions.Global Share.CO2.Gas, Emissions.Global Share.CO2.Oil, Emissions.Global Share.CO2.Flaring, Emissions.Global Share.CO2.Total]
Index: []

In [23]:
# Create a new DataFrame containing only paintings that include artist
# information by removing rows that include "NaN" in the column "DateYear"
# using the DataFrame method dropna() on subset of the column(s)
dev_clean = development_df.dropna()
# Print out the resulting DataFrame
dev_clean.info()

em_clean = emissions_df.dropna()
# Print out the resulting DataFrame
em_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4695 entries, 0 to 6424
Data columns (total 25 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           4695 non-null   category
 1   Year                                                              4695 non-null   int64
 2   Data.Health.Birth Rate                                            4695 non-null   float64
 3   Data.Health.Death Rate                                            4695 non-null   float64
 4   Data.Health.Fertility Rate                                        4695 non-null   float64
 5   Data.Health.Life Expectancy at Birth, Female                      4695 non-null   float64
 6   Data.Health.Life Expectancy at Birth, Male                        4695 non-null   float64
 7   Data.Health.Life Expectancy at Birth, Total                       4695 non-null   float64
 8   Data.Health.Population Growth                                     4695 non-null   float64
 9   Data.Health.Total Population                                      4695 non-null   float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 4695 non-null   float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  4695 non-null   float64
 12  Data.Infrastructure.Telephone Lines                               4695 non-null   float64
 13  Data.Infrastructure.Telephone Lines per 100 People                4695 non-null   float64
 14  Data.Rural Development.Agricultural Land                          4695 non-null   float64
 15  Data.Rural Development.Agricultural Land Percent                  4695 non-null   float64
 16  Data.Rural Development.Arable Land                                4695 non-null   float64
 17  Data.Rural Development.Arable Land Percent                        4695 non-null   float64
 18  Data.Rural Development.Land Area                                  4695 non-null   float64
 19  Data.Rural Development.Rural Population                           4695 non-null   int64
 20  Data.Rural Development.Rural Population Growth                    4695 non-null   float64
 21  Data.Rural Development.Surface Area                               4695 non-null   float64
 22  Data.Urban Development.Population Density                         4695 non-null   float64
 23  Data.Urban Development.Urban Population Percent                   4695 non-null   float64
 24  Data.Urban Development.Urban Population Percent Growth            4695 non-null   float64
dtypes: category(1), float64(22), int64(2)
memory usage: 931.7 KB
<class 'pandas.core.frame.DataFrame'>
Index: 2024 entries, 0 to 2483
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2024 non-null   int64
 1   Country.Name                        2024 non-null   category
 2   Country.Code                        2024 non-null   category
 3   Country.GDP                         2024 non-null   float64
 4   Country.Population                  2024 non-null   int64
 5   Emissions.Production.CH4            2024 non-null   float64
 6   Emissions.Production.N2O            2024 non-null   float64
 7   Emissions.Production.CO2.Cement     2024 non-null   float64
 8   Emissions.Production.CO2.Coal       2024 non-null   float64
 9   Emissions.Production.CO2.Gas        2024 non-null   float64
 10  Emissions.Production.CO2.Oil        2024 non-null   float64
 11  Emissions.Production.CO2.Flaring    2024 non-null   float64
 12  Emissions.Production.CO2.Other      2024 non-null   float64
 13  Emissions.Production.CO2.Total      2024 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2024 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2024 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2024 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2024 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2024 non-null   float64
 19  Emissions.Global Share.CO2.Total    2024 non-null   float64
dtypes: category(2), float64(16), int64(2)
memory usage: 309.9 KB

### 1.5.1. Summary Statistics

Summary statistics can be used to identify columns that would need more cleaning, for example if you find that the standard deviation is large compared to the mean - the data may include outliers.

Best way to spot outliers is to plot the data, you can use histograms, box plots and sometimes even scatter plots help in identifying outliers.

In [24]:
# get summary statistics of the numerical columns
dev_clean.describe()
em_clean.describe()

,Year,Country.GDP,Country.Population,Emissions.Production.CH4,Emissions.Production.N2O,Emissions.Production.CO2.Cement,Emissions.Production.CO2.Coal,Emissions.Production.CO2.Gas,Emissions.Production.CO2.Oil,Emissions.Production.CO2.Flaring,Emissions.Production.CO2.Other,Emissions.Production.CO2.Total,Emissions.Global Share.CO2.Cement,Emissions.Global Share.CO2.Coal,Emissions.Global Share.CO2.Gas,Emissions.Global Share.CO2.Oil,Emissions.Global Share.CO2.Flaring,Emissions.Global Share.CO2.Total
count,2024.000000,2.024000e+03,2.024000e+03,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000
mean,2005.042984,7.706377e+11,6.174909e+07,70.767248,23.874284,10.054066,116.103185,57.650201,99.823666,3.314275,2.510646,289.455928,0.996364,1.002381,1.053547,0.929753,1.052688,0.985870
std,7.799998,1.895466e+12,1.809651e+08,147.005450,56.218644,49.842148,539.017370,154.018788,259.742884,7.700091,12.195226,890.402425,4.167240,4.269343,2.863887,2.422079,2.362772,2.928168
min,1992.000000,0.000000e+00,2.601550e+05,0.520000,0.110000,0.000000,0.000000,0.000000,0.366000,0.000000,0.000000,0.758000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1998.000000,6.144881e+10,5.123037e+06,7.555000,2.570000,0.541750,0.321500,2.491000,8.859500,0.000000,0.000000,21.377500,0.060000,0.000000,0.050000,0.080000,0.000000,0.080000
50%,2005.000000,2.279040e+11,1.585589e+07,23.205000,7.800000,1.825000,7.037000,12.551500,29.557000,0.226000,0.001000,60.803500,0.190000,0.060000,0.235000,0.280000,0.070000,0.220000
75%,2012.000000,6.234630e+11,4.859863e+07,65.777500,21.957500,6.223000,42.120500,57.633500,73.189500,2.555250,1.085000,221.016000,0.610000,0.360000,1.030000,0.690000,0.780000,0.730000
max,2018.000000,1.815160e+13,1.427648e+09,1161.420000,552.670000,786.745000,7493.455000,1641.041000,2608.477000,76.211000,171.537000,10289.989000,52.120000,49.930000,28.340000,24.010000,18.020000,28.210000

## 1.6. Data Wrangling

> Wrangling is often used to change into a format that is usable, includes merging, subsetting and transformation.

### 1.6.1. Replacing values in a column

In [25]:
# print the columns and the number of values and datatypes for reference
dev_clean.info()
em_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4695 entries, 0 to 6424
Data columns (total 25 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           4695 non-null   category
 1   Year                                                              4695 non-null   int64
 2   Data.Health.Birth Rate                                            4695 non-null   float64
 3   Data.Health.Death Rate                                            4695 non-null   float64
 4   Data.Health.Fertility Rate                                        4695 non-null   float64
 5   Data.Health.Life Expectancy at Birth, Female                      4695 non-null   float64
 6   Data.Health.Life Expectancy at Birth, Male                        4695 non-null   float64
 7   Data.Health.Life Expectancy at Birth, Total                       4695 non-null   float64
 8   Data.Health.Population Growth                                     4695 non-null   float64
 9   Data.Health.Total Population                                      4695 non-null   float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 4695 non-null   float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  4695 non-null   float64
 12  Data.Infrastructure.Telephone Lines                               4695 non-null   float64
 13  Data.Infrastructure.Telephone Lines per 100 People                4695 non-null   float64
 14  Data.Rural Development.Agricultural Land                          4695 non-null   float64
 15  Data.Rural Development.Agricultural Land Percent                  4695 non-null   float64
 16  Data.Rural Development.Arable Land                                4695 non-null   float64
 17  Data.Rural Development.Arable Land Percent                        4695 non-null   float64
 18  Data.Rural Development.Land Area                                  4695 non-null   float64
 19  Data.Rural Development.Rural Population                           4695 non-null   int64
 20  Data.Rural Development.Rural Population Growth                    4695 non-null   float64
 21  Data.Rural Development.Surface Area                               4695 non-null   float64
 22  Data.Urban Development.Population Density                         4695 non-null   float64
 23  Data.Urban Development.Urban Population Percent                   4695 non-null   float64
 24  Data.Urban Development.Urban Population Percent Growth            4695 non-null   float64
dtypes: category(1), float64(22), int64(2)
memory usage: 931.7 KB
<class 'pandas.core.frame.DataFrame'>
Index: 2024 entries, 0 to 2483
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2024 non-null   int64
 1   Country.Name                        2024 non-null   category
 2   Country.Code                        2024 non-null   category
 3   Country.GDP                         2024 non-null   float64
 4   Country.Population                  2024 non-null   int64
 5   Emissions.Production.CH4            2024 non-null   float64
 6   Emissions.Production.N2O            2024 non-null   float64
 7   Emissions.Production.CO2.Cement     2024 non-null   float64
 8   Emissions.Production.CO2.Coal       2024 non-null   float64
 9   Emissions.Production.CO2.Gas        2024 non-null   float64
 10  Emissions.Production.CO2.Oil        2024 non-null   float64
 11  Emissions.Production.CO2.Flaring    2024 non-null   float64
 12  Emissions.Production.CO2.Other      2024 non-null   float64
 13  Emissions.Production.CO2.Total      2024 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2024 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2024 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2024 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2024 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2024 non-null   float64
 19  Emissions.Global Share.CO2.Total    2024 non-null   float64
dtypes: category(2), float64(16), int64(2)
memory usage: 309.9 KB

### 1.6.3. Creating a new column using an expression

We can create new columns of data on an existing DataFrame and assign values calculated from existing columns of data. This is done by first calling the index of the new column (for example, `df['NEW_COLUMN_NAME']`) and assigning the new column the results of some expression that can include existing columns of data from the DataFrame.

In [27]:
dev_clean["Country_Year"] = dev_clean["Country"].astype(str)+ "_" +  (dev_clean["Year"].astype(str))
em_clean["Country_Year"] = em_clean["Country.Name"].astype(str) + "_" +  (em_clean["Year"].astype(str))

# Print out the full DataFrame
dev_clean.info()
em_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4695 entries, 0 to 6424
Data columns (total 26 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           4695 non-null   category
 1   Year                                                              4695 non-null   int64
 2   Data.Health.Birth Rate                                            4695 non-null   float64
 3   Data.Health.Death Rate                                            4695 non-null   float64
 4   Data.Health.Fertility Rate                                        4695 non-null   float64
 5   Data.Health.Life Expectancy at Birth, Female                      4695 non-null   float64
 6   Data.Health.Life Expectancy at Birth, Male                        4695 non-null   float64
 7   Data.Health.Life Expectancy at Birth, Total                       4695 non-null   float64
 8   Data.Health.Population Growth                                     4695 non-null   float64
 9   Data.Health.Total Population                                      4695 non-null   float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 4695 non-null   float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  4695 non-null   float64
 12  Data.Infrastructure.Telephone Lines                               4695 non-null   float64
 13  Data.Infrastructure.Telephone Lines per 100 People                4695 non-null   float64
 14  Data.Rural Development.Agricultural Land                          4695 non-null   float64
 15  Data.Rural Development.Agricultural Land Percent                  4695 non-null   float64
 16  Data.Rural Development.Arable Land                                4695 non-null   float64
 17  Data.Rural Development.Arable Land Percent                        4695 non-null   float64
 18  Data.Rural Development.Land Area                                  4695 non-null   float64
 19  Data.Rural Development.Rural Population                           4695 non-null   int64
 20  Data.Rural Development.Rural Population Growth                    4695 non-null   float64
 21  Data.Rural Development.Surface Area                               4695 non-null   float64
 22  Data.Urban Development.Population Density                         4695 non-null   float64
 23  Data.Urban Development.Urban Population Percent                   4695 non-null   float64
 24  Data.Urban Development.Urban Population Percent Growth            4695 non-null   float64
 25  Country_Year                                                      4695 non-null   object
dtypes: category(1), float64(22), int64(2), object(1)
memory usage: 968.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 2024 entries, 0 to 2483
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2024 non-null   int64
 1   Country.Name                        2024 non-null   category
 2   Country.Code                        2024 non-null   category
 3   Country.GDP                         2024 non-null   float64
 4   Country.Population                  2024 non-null   int64
 5   Emissions.Production.CH4            2024 non-null   float64
 6   Emissions.Production.N2O            2024 non-null   float64
 7   Emissions.Production.CO2.Cement     2024 non-null   float64
 8   Emissions.Production.CO2.Coal       2024 non-null   float64
 9   Emissions.Production.CO2.Gas        2024 non-null   float64
 10  Emissions.Production.CO2.Oil        2024 non-null   float64
 11  Emissions.Production.CO2.Flaring    2024 non-null   float64
 12  Emissions.Production.CO2.Other      2024 non-null   float64
 13  Emissions.Production.CO2.Total      2024 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2024 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2024 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2024 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2024 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2024 non-null   float64
 19  Emissions.Global Share.CO2.Total    2024 non-null   float64
 20  Country_Year                        2024 non-null   object
dtypes: category(2), float64(16), int64(2), object(1)
memory usage: 325.8+ KB

<ipython-input-27-d08a26901785>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dev_clean["Country_Year"] = dev_clean["Country"].astype(str)+ "_" +  (dev_clean["Year"].astype(str))
<ipython-input-27-d08a26901785>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  em_clean["Country_Year"] = em_clean["Country.Name"].astype(str) + "_" +  (em_clean["Year"].astype(str))

## 1.7. Data Merging

### 1.7.2. Identify columns that are common

Two ways to merge:

1. If all columns are same - long merge,
2. if one or more columns are similar - more checks needed

We will look at only case 1 today.

#### 1.7.2.1 Long merge
 We want to make sure the columns are exactly the same - do we have same columns?

 The cleaned dataframes of each dataset is merged

In [29]:
# Identify the columns that does not match
em_clean.head()
dev_clean.head()

,Country,Year,Data.Health.Birth Rate,Data.Health.Death Rate,Data.Health.Fertility Rate,"Data.Health.Life Expectancy at Birth, Female","Data.Health.Life Expectancy at Birth, Male","Data.Health.Life Expectancy at Birth, Total",Data.Health.Population Growth,Data.Health.Total Population,...,Data.Rural Development.Arable Land,Data.Rural Development.Arable Land Percent,Data.Rural Development.Land Area,Data.Rural Development.Rural Population,Data.Rural Development.Rural Population Growth,Data.Rural Development.Surface Area,Data.Urban Development.Population Density,Data.Urban Development.Urban Population Percent,Data.Urban Development.Urban Population Percent Growth,Country_Year
0,Canada,1980,15.4,7.0,1.754,78.59,71.32,74.866341,0.997669,24277000.0,...,1.827821,4.879744,9093510.0,5918004,0.833712,9984670.0,2.669706,75.623,1.050578,Canada_1980
1,Canada,1981,15.4,7.1,1.740,78.73,71.60,75.078049,1.293245,24593000.0,...,1.818526,4.918123,9093510.0,5985198,1.129019,9984670.0,2.704456,75.663,1.346126,Canada_1981
2,Canada,1982,15.3,7.0,1.700,79.11,72.02,75.478537,1.240595,24900000.0,...,1.810120,4.956502,9093510.0,6047712,1.039060,9984670.0,2.738217,75.712,1.305333,Canada_1982
3,Canada,1983,15.1,7.1,1.690,79.23,72.30,75.680488,1.205555,25202000.0,...,1.789779,4.960241,9093510.0,6080235,0.536333,9984670.0,2.771427,75.874,1.419293,Canada_1983
6,Canada,1986,14.9,7.0,1.670,79.73,73.04,76.303415,0.929447,25942000.0,...,1.742580,4.971238,9093510.0,6134245,0.259276,9984670.0,2.852804,76.354,1.137905,Canada_1986

##### 1.7.2.1.2 Concatenate DataFrames
We want to be able to work with all of the data we have imported at once, so we need to pull all two DataFrames into one DataFrame. They all have the same column format now, so we can concatenate them based on column name and order (similar to adding them together, one on top of another) using the pandas method concat().

We also need to consider the current index labels for each dataset. We will create a new zero-based integer index label for the concatenated dataset by passing the keyword argument ignore_index=True into the concat() method.

Ensure you are concatenating the cleaned dataframes.

In [30]:
# Concatenate all the datasets into one
development_emissions_df = pd.concat([dev_clean, em_clean], ignore_index=True)


# Print the shape (number of rows and columns) of the full DataFrame
development_emissions_df.shape

(6719, 45)

### 1.7.2.2 Broad Merge

In cases where borad merge based on common column is required.

In [31]:
merged_dataset = pd.merge(dev_clean, em_clean, how="inner", left_on="Country_Year", right_on="Country_Year")
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 46 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           785 non-null    category
 1   Year_x                                                            785 non-null    int64
 2   Data.Health.Birth Rate                                            785 non-null    float64
 3   Data.Health.Death Rate                                            785 non-null    float64
 4   Data.Health.Fertility Rate                                        785 non-null    float64
 5   Data.Health.Life Expectancy at Birth, Female                      785 non-null    float64
 6   Data.Health.Life Expectancy at Birth, Male                        785 non-null    float64
 7   Data.Health.Life Expectancy at Birth, Total                       785 non-null    float64
 8   Data.Health.Population Growth                                     785 non-null    float64
 9   Data.Health.Total Population                                      785 non-null    float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 785 non-null    float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  785 non-null    float64
 12  Data.Infrastructure.Telephone Lines                               785 non-null    float64
 13  Data.Infrastructure.Telephone Lines per 100 People                785 non-null    float64
 14  Data.Rural Development.Agricultural Land                          785 non-null    float64
 15  Data.Rural Development.Agricultural Land Percent                  785 non-null    float64
 16  Data.Rural Development.Arable Land                                785 non-null    float64
 17  Data.Rural Development.Arable Land Percent                        785 non-null    float64
 18  Data.Rural Development.Land Area                                  785 non-null    float64
 19  Data.Rural Development.Rural Population                           785 non-null    int64
 20  Data.Rural Development.Rural Population Growth                    785 non-null    float64
 21  Data.Rural Development.Surface Area                               785 non-null    float64
 22  Data.Urban Development.Population Density                         785 non-null    float64
 23  Data.Urban Development.Urban Population Percent                   785 non-null    float64
 24  Data.Urban Development.Urban Population Percent Growth            785 non-null    float64
 25  Country_Year                                                      785 non-null    object
 26  Year_y                                                            785 non-null    int64
 27  Country.Name                                                      785 non-null    category
 28  Country.Code                                                      785 non-null    category
 29  Country.GDP                                                       785 non-null    float64
 30  Country.Population                                                785 non-null    int64
 31  Emissions.Production.CH4                                          785 non-null    float64
 32  Emissions.Production.N2O                                          785 non-null    float64
 33  Emissions.Production.CO2.Cement                                   785 non-null    float64
 34  Emissions.Production.CO2.Coal                                     785 non-null    float64
 35  Emissions.Production.CO2.Gas                                      785 non-null    float64
 36  Emissions.Production.CO2.Oil                                      785 non-null    float64
 37  Emissions.Production.CO2.Flaring                                  785 non-null    float64
 38  Emissions.Production.CO2.Other                                    785 non-null    float64
 39  Emissions.Production.CO2.Total                                    785 non-null    float64
 40  Emissions.Global Share.CO2.Cement                                 785 non-null    float64
 41  Emissions.Global Share.CO2.Coal                                   785 non-null    float64
 42  Emissions.Global Share.CO2.Gas                                    785 non-null    float64
 43  Emissions.Global Share.CO2.Oil                                    785 non-null    float64
 44  Emissions.Global Share.CO2.Flaring                                785 non-null    float64
 45  Emissions.Global Share.CO2.Total                                  785 non-null    float64
dtypes: category(3), float64(38), int64(4), object(1)
memory usage: 278.0+ KB

If the common values exist merge it or else look for other columns

### 1.3.2. Removing unnecessary columns

We can reduce the size of our combined dataset by removing columns that are not important for our analyses. Columns can be "dropped" from a DataFrame using the DataFrame method `drop()`.

In [32]:
# Print out the column labels for the full dataset of artworks and artist info
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 46 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           785 non-null    category
 1   Year_x                                                            785 non-null    int64
 2   Data.Health.Birth Rate                                            785 non-null    float64
 3   Data.Health.Death Rate                                            785 non-null    float64
 4   Data.Health.Fertility Rate                                        785 non-null    float64
 5   Data.Health.Life Expectancy at Birth, Female                      785 non-null    float64
 6   Data.Health.Life Expectancy at Birth, Male                        785 non-null    float64
 7   Data.Health.Life Expectancy at Birth, Total                       785 non-null    float64
 8   Data.Health.Population Growth                                     785 non-null    float64
 9   Data.Health.Total Population                                      785 non-null    float64
 10  Data.Infrastructure.Mobile Cellular Subscriptions                 785 non-null    float64
 11  Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  785 non-null    float64
 12  Data.Infrastructure.Telephone Lines                               785 non-null    float64
 13  Data.Infrastructure.Telephone Lines per 100 People                785 non-null    float64
 14  Data.Rural Development.Agricultural Land                          785 non-null    float64
 15  Data.Rural Development.Agricultural Land Percent                  785 non-null    float64
 16  Data.Rural Development.Arable Land                                785 non-null    float64
 17  Data.Rural Development.Arable Land Percent                        785 non-null    float64
 18  Data.Rural Development.Land Area                                  785 non-null    float64
 19  Data.Rural Development.Rural Population                           785 non-null    int64
 20  Data.Rural Development.Rural Population Growth                    785 non-null    float64
 21  Data.Rural Development.Surface Area                               785 non-null    float64
 22  Data.Urban Development.Population Density                         785 non-null    float64
 23  Data.Urban Development.Urban Population Percent                   785 non-null    float64
 24  Data.Urban Development.Urban Population Percent Growth            785 non-null    float64
 25  Country_Year                                                      785 non-null    object
 26  Year_y                                                            785 non-null    int64
 27  Country.Name                                                      785 non-null    category
 28  Country.Code                                                      785 non-null    category
 29  Country.GDP                                                       785 non-null    float64
 30  Country.Population                                                785 non-null    int64
 31  Emissions.Production.CH4                                          785 non-null    float64
 32  Emissions.Production.N2O                                          785 non-null    float64
 33  Emissions.Production.CO2.Cement                                   785 non-null    float64
 34  Emissions.Production.CO2.Coal                                     785 non-null    float64
 35  Emissions.Production.CO2.Gas                                      785 non-null    float64
 36  Emissions.Production.CO2.Oil                                      785 non-null    float64
 37  Emissions.Production.CO2.Flaring                                  785 non-null    float64
 38  Emissions.Production.CO2.Other                                    785 non-null    float64
 39  Emissions.Production.CO2.Total                                    785 non-null    float64
 40  Emissions.Global Share.CO2.Cement                                 785 non-null    float64
 41  Emissions.Global Share.CO2.Coal                                   785 non-null    float64
 42  Emissions.Global Share.CO2.Gas                                    785 non-null    float64
 43  Emissions.Global Share.CO2.Oil                                    785 non-null    float64
 44  Emissions.Global Share.CO2.Flaring                                785 non-null    float64
 45  Emissions.Global Share.CO2.Total                                  785 non-null    float64
dtypes: category(3), float64(38), int64(4), object(1)
memory usage: 278.0+ KB

In [33]:
# Remove specified columns from the dataset using "drop()"

merged_dataset = merged_dataset.drop(columns=["Country", "Year_x", "Country.Name", "Year_y", "Data.Health.Total Population"])

# Reorder columns to make "Country_Year" the first column

merged_dataset= merged_dataset[["Country_Year"] + [col for col in merged_dataset.columns if col != "Country_Year"]]

# Print out the column labels from the new DataFrame
merged_dataset.info()

merged_dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 41 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country_Year                                                      785 non-null    object
 1   Data.Health.Birth Rate                                            785 non-null    float64
 2   Data.Health.Death Rate                                            785 non-null    float64
 3   Data.Health.Fertility Rate                                        785 non-null    float64
 4   Data.Health.Life Expectancy at Birth, Female                      785 non-null    float64
 5   Data.Health.Life Expectancy at Birth, Male                        785 non-null    float64
 6   Data.Health.Life Expectancy at Birth, Total                       785 non-null    float64
 7   Data.Health.Population Growth                                     785 non-null    float64
 8   Data.Infrastructure.Mobile Cellular Subscriptions                 785 non-null    float64
 9   Data.Infrastructure.Mobile Cellular Subscriptions per 100 People  785 non-null    float64
 10  Data.Infrastructure.Telephone Lines                               785 non-null    float64
 11  Data.Infrastructure.Telephone Lines per 100 People                785 non-null    float64
 12  Data.Rural Development.Agricultural Land                          785 non-null    float64
 13  Data.Rural Development.Agricultural Land Percent                  785 non-null    float64
 14  Data.Rural Development.Arable Land                                785 non-null    float64
 15  Data.Rural Development.Arable Land Percent                        785 non-null    float64
 16  Data.Rural Development.Land Area                                  785 non-null    float64
 17  Data.Rural Development.Rural Population                           785 non-null    int64
 18  Data.Rural Development.Rural Population Growth                    785 non-null    float64
 19  Data.Rural Development.Surface Area                               785 non-null    float64
 20  Data.Urban Development.Population Density                         785 non-null    float64
 21  Data.Urban Development.Urban Population Percent                   785 non-null    float64
 22  Data.Urban Development.Urban Population Percent Growth            785 non-null    float64
 23  Country.Code                                                      785 non-null    category
 24  Country.GDP                                                       785 non-null    float64
 25  Country.Population                                                785 non-null    int64
 26  Emissions.Production.CH4                                          785 non-null    float64
 27  Emissions.Production.N2O                                          785 non-null    float64
 28  Emissions.Production.CO2.Cement                                   785 non-null    float64
 29  Emissions.Production.CO2.Coal                                     785 non-null    float64
 30  Emissions.Production.CO2.Gas                                      785 non-null    float64
 31  Emissions.Production.CO2.Oil                                      785 non-null    float64
 32  Emissions.Production.CO2.Flaring                                  785 non-null    float64
 33  Emissions.Production.CO2.Other                                    785 non-null    float64
 34  Emissions.Production.CO2.Total                                    785 non-null    float64
 35  Emissions.Global Share.CO2.Cement                                 785 non-null    float64
 36  Emissions.Global Share.CO2.Coal                                   785 non-null    float64
 37  Emissions.Global Share.CO2.Gas                                    785 non-null    float64
 38  Emissions.Global Share.CO2.Oil                                    785 non-null    float64
 39  Emissions.Global Share.CO2.Flaring                                785 non-null    float64
 40  Emissions.Global Share.CO2.Total                                  785 non-null    float64
dtypes: category(1), float64(37), int64(2), object(1)
memory usage: 249.0+ KB

,Country_Year,Data.Health.Birth Rate,Data.Health.Death Rate,Data.Health.Fertility Rate,"Data.Health.Life Expectancy at Birth, Female","Data.Health.Life Expectancy at Birth, Male","Data.Health.Life Expectancy at Birth, Total",Data.Health.Population Growth,Data.Infrastructure.Mobile Cellular Subscriptions,Data.Infrastructure.Mobile Cellular Subscriptions per 100 People,...,Emissions.Production.CO2.Oil,Emissions.Production.CO2.Flaring,Emissions.Production.CO2.Other,Emissions.Production.CO2.Total,Emissions.Global Share.CO2.Cement,Emissions.Global Share.CO2.Coal,Emissions.Global Share.CO2.Gas,Emissions.Global Share.CO2.Oil,Emissions.Global Share.CO2.Flaring,Emissions.Global Share.CO2.Total
0,Canada_1992,14.9,7.2,1.7000,80.77,74.49,77.553415,1.360506,775831.0,2.769888,...,203.785,12.914,2.962,463.521,0.90,1.27,3.33,2.22,5.44,2.05
1,Canada_1994,13.6,6.8,1.7000,80.83,74.69,77.685122,1.094332,1332982.0,4.648371,...,212.180,14.179,3.236,478.267,0.97,1.20,3.42,2.30,5.98,2.08
2,Canada_1995,13.1,7.2,1.6695,80.93,74.94,77.861951,0.961245,1865779.0,6.435665,...,214.874,14.455,3.210,490.951,1.04,1.18,3.50,2.30,6.15,2.09
3,Canada_1996,12.6,7.1,1.6390,81.02,75.08,77.977561,0.828159,2589780.0,8.840379,...,221.514,15.601,3.218,507.000,0.97,1.17,3.50,2.31,6.58,2.10
4,Canada_1997,12.0,7.3,1.5920,81.15,75.45,78.230488,1.077165,3497779.0,11.822266,...,229.521,15.709,3.447,521.278,1.01,1.26,3.46,2.35,6.47,2.15

# Credits

This code was a modification of the workshop created by Aditi Mallavarapu, Claire Cahoon and Walt Gurley, adapted from previous workshop materials by Scott Bailey and Simon Wiles, of Stanford Libraries.